<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903041874364-nihm2i4o6obcs4ib9en9cmritd67e0au.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903041874364-nihm2i4o6obcs4ib9en9cmritd67e0au</string>
	<key>API_KEY</key>
	<string>AIzaSyBpZPw3JJgSTYkQihQOz3zj7Sp4I4CiBIE</string>
	<key>GCM_SENDER_ID</key>
	<string>903041874364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>eventsapp-c0cda</string>
	<key>STORAGE_BUCKET</key>
	<string>eventsapp-c0cda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903041874364:ios:aae07bed7d94ec89d8d3b9</string>
</dict>
</plist>